[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
